source_up

export GOPATH=~/go
export GOBIN=~/go/bin
export GOROOT=/usr/local/go1.18
export PATH=$GOROOT/bin:$GOPATH/bin:$PATH
export SPANNER_EMULATOR_HOST=localhost:9010
export GCLOUD_PROJECT=spanner-test
export GO111MODULE=auto

